.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: url('../assets/bg.png');
}

.label {
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-top: 600px;
    margin-left: 20px;
}

.heading {
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 20px;
    color: #72DB73;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    justify-content: space-between;
}

.footer span {
    color: #72DB73;
    cursor: pointer;
}