.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: url('../assets/bg.png');
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    justify-content: space-between;
}

.footer span {
    color: #72DB73;
    cursor: pointer;
}